@if(member){
<div class="row">
    <div class="col-4"> User Profile</div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                    class="card-img img-thumbnail">

                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}, {{member.country}}</p>

                    </div>

                    <div>
                        <strong>Age :</strong>
                        <p>{{member.age}}</p>

                    </div>

                    <div>
                        <strong>Last Active:</strong>
                        <p>{{member.lastActive}}</p>

                    </div>

                    <div>
                        <strong>Member Since : </strong>
                        <p>{{member.created | date:'dd mmm yyyy'}}</p>

                    </div>

                </div>
            </div>
        </div>
    
<div class="col-8">
    <tabset class="member-tabset">
        <form>
            <tab heading="About {{member.knownAs}}">
                <h4>Descripton</h4>
                <textarea class="form-control" name="" id=""></textarea>
                <h4>Looking for </h4>
                <p>{{member.lookingFor}}</p>

            </tab>


        </form>

        <tab heading="Edit Photos">
            Photo edit will go here
        </tab>

    </tabset>
</div>
</div>
</div>

}