<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Navbar</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QXHXwWcDZFV5Wz9AwXpIYlRTV8IW7AC+H8oXzq40onp5g5k4Q4MzDkWtoMTiXXh9" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DatingApp</a>
        @if(accountservice.currentUser()){
          <ul class="navbar-nav me-auto mb-2 mb-md-0" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Messages</a>
            </li>
            <li class="nav-item">
            </li>
          </ul>
        }
        @if(accountservice.currentUser()) {

          <div dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle text-decoration-none"> Welcome User </a>
            <div *dropdownMenu class="dropdown-menu">
              <a class="dropdown-item">Eidt Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        }
        @if(!accountservice.currentUser()){
          <form  #loginForm ="ngForm" (ngSubmit)= "login()" class="d-flex">
            <input name="Username" [(ngModel)]="model.Username"
             class="form-control me-2" 
             type="text" 
             placeholder="Username">
  
            <input name ="password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password">
            <button class="btn btn-outline-success" type="submit">Login</button>
          </form>
        }
       
        
      </div>

  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-jXm9XGNS+0tNfbMjzUffbrK+wbh7KojMLBgZ1YY39OH1A9UkM7K5jNoPr59Fyww8" crossorigin="anonymous"></script>
</body>
</html>
